@import './src/assets/styles/imports';

.list-menu {
  position: fixed;
  color: #000;
  background-color: #fafafa;
  width: 250px;
  min-width: 250px;
  padding: 20px 10px !important;
  height: 100vh;
  left: -250px;
  z-index: 1000;
  transition: left .25s cubic-bezier( .4, 0, .2, 1);
  top: 40px;

  @media (max-width: $media-SM) {
    top: 40px;
  }

  &-wrapper {
    &.active {
      & ~ .app-content {
        margin-left: 100px;

        @media (max-width: $media-LG) {
          margin-left: 220px;
        }
      }
    }

    &.md {
      & ~ .app-content {
        margin-left: 0;
      }
    }
  }

  &.active {
    left: 0;
  }

  &__outside {
    display: none;
    width: 100%;
    background: rgba(0,0,0, .3);
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;

    &.md.active {
      display: block;
    }
  }

  &__create-list-btn {
    margin-bottom: 10px;
  }
}

.list-menu-animation {
  &-enter {
    &-done {
      left: 0;
    }
  }
}
