.notification {
  padding: 7px 15px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 12px;
  margin: 10px 0;
  width: max-content;
  &.info {
    background-color: var(--notification-info-bg);
    color: var(--notification-info-color);
    border-color: var(--notification-info-border);
  }

  &.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}
