@import './src/assets/styles/imports';

.github-badge {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__version {
    @media (max-width: $media-SM) {
      font-size: 8px;
    }
  }
}
