@import 'src/assets/styles/imports';

.todo-title {
  position: relative;
  transition: all .3s ease;
  user-select: none;
  max-width: 250px;
  word-wrap: break-word;

  @media (max-width: $media-SM) {
    font-size: $sm-font-size;

  }

  @media (max-width: $media-XS) {
    max-width: 130px;
  }

  &:before {
    content: '';
    background-color: #000;
    height: 2px;
    display: block;
    position: absolute;
    top: 10px;
    opacity: 0;
    width: 104%;
    transition: all .3s ease;
  }

  &.crossout {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.title-shift {
  &-enter {
    &-active {
      &.todo-title {
        opacity: 1;
        transform: translateX(5px);
      }

      &-done {
        &.todo-title {
          transform: translateX(0px);
          text-decoration: line-through;
        }
      }
    }
  }
}
