.todo-title {
  &.active {
    animation: title-shift .3s ease-in-out forwards .1s;
    position: relative;
    &:before {
      content: '';
      background-color: #000;
      height: 2px;
      display: block;
      position: absolute;
      top: 10px;
      width: 104%;
      opacity: 0.2;
      animation: title-crossout .2s ease-in-out forwards .1s alternate;
    }
  }

  &:not(.active) {
    position: relative;

    &:before {
      content: '';
      background-color: #000;
      height: 2px;
      display: block;
      position: absolute;
      top: 10px;
      width: 104%;
      right: -2px;
      opacity: 0.1;
      animation: title-off-crossout .3s ease-in-out forwards;
    }
  }
}

@keyframes title-shift {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 1;
    transform: translateX(3px);
  }

  100% {
    opacity: 0.2;
    transform: translateX(0);
  }
}

@keyframes title-crossout {
  0% {
    right: 50px;
  }

  100% {
    opacity: 0.5;
    right: -2px;
  }
}

@keyframes title-off-crossout {
  0% {
    width: 104%;
    right: -2px;
  }

  100% {
    width: 0;
    right: -100px;
    opacity: 0;
  }
}
