.todo-title {
  position: relative;
  transition: all .3s ease;

  &:before {
    content: '';
    background-color: #000;
    height: 2px;
    display: block;
    position: absolute;
    top: 10px;
    opacity: 0;
    width: 104%;
    transition: all .3s ease;
  }

  &.crossout {
    opacity: 0.5;
    &:before {
      opacity: 0.3;
    }
  }

  &:not(.crossout) {
    overflow: hidden;
    &:before {
      opacity: 0;
    }
  }
}

.title-shift {
  &-enter {
    &-active {
      &.todo-title {
        opacity: 1;
        transform: translateX(5px);
      }

      &.todo-title.crossout {
        &:before {
          right: 50px;
        }
      }
    }

    &-done {
      &.todo-title {
        transform: translateX(0px);
      }

      &.todo-title.crossout {
        &:before {
          opacity: 0.3;
          right: -2px;
          width: 104%;
        }
      }
    }
  }

  &-exit {
    &-active {

    }

    &-done {
      &.todo-title {
        &:not(.crossout) {
          &:before {
            width: 0;
            opacity: 0;
            right: -100px;
          }
        }
      }
    }
  }
}
