.todo-checkbox {
  margin-right: 10px;
  --check: #E9E3FF;
  --tick-color: #48BF91;

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--check);
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    position: relative;

    &-tick {
      display: none;
      &:before {
        content: "";
        position: absolute;
        height: 20px;
        width: 9px;
        transform: rotate(37deg) scale(0.3);
        border-bottom: 3px solid var(--tick-color);
        border-right: 3px solid var(--tick-color);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        top: -5px;
        right: 2px;
        opacity: 0;
        z-index: 10;
        animation: fill-tick .3s ease forwards .1s;
      }
    }
  }

  &__real-checkbox {
    display: none;

    &:checked {
      & ~ .todo-checkbox__checkbox {

        & .todo-checkbox__checkbox-tick {
          display: block;
        }

        &:after {
          content: "";
          position: absolute;
          top: auto;
          width: 1px;
          height: 1px;
          opacity: 0.1;
          border-radius: 50%;
          background: var(--check);
          animation: fill-circle .3s ease forwards .1s;
        }

        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: auto;
          background: var(--check);
          border-radius: 2px;
          animation: firework .5s ease forwards .1s;
        }
      }
    }
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    width: 4px;
    height: 4px;
  }
}

@keyframes fill-circle {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 1px #4F29F0;
  }

  25% {
    box-shadow: 0 0 0 4px #4F29F0;
    width: 10px;
    height: 10px;
  }

  75% {
    box-shadow: 0 0 0 1px #E9E3FF;
  }

  100% {
    opacity: 1;
    box-shadow: 0 0 0 0 #E9E3FF;
    height: 20px;
    width: 20px;
  }
}

@keyframes fill-tick {
  0% {
    transform: rotate(35deg) scale(0.6);
    opacity: .5;
  }

  100% {
    transform: rotate(37deg) scale(1);
    opacity: 1;
  }
}
