.todo-checkbox {
  margin-right: 10px;
  --check: #e9e3ff;
  --tick-color: #48bf91;

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--check);
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: auto;
      background: var(--check);
      border-radius: 2px;
      transition: all .5s ease;
    }

    &:after {
      content: '';
      position: absolute;
      top: auto;
      width: 1px;
      height: 1px;
      opacity: .1;
      border-radius: 50%;
      background: var(--check);
      transition: all .3s ease;
    }

    &-tick {
      &:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 9px;
        transform: rotate(37deg) scale(.3);
        border-bottom: 3px solid var(--tick-color);
        border-right: 3px solid var(--tick-color);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        top: -5px;
        right: 2px;
        opacity: 0;
        z-index: 10;
        transition: all .3s ease;
      }
    }
  }

  &__real-checkbox {
    display: none;

    &:checked {
      & ~ .todo-checkbox__checkbox {
        transition: none;
        &:after {
          opacity: 1;
          box-shadow: 0 0 0 0 #e9e3ff;
          height: 20px;
          width: 20px;
        }

        & .todo-checkbox__checkbox-tick {
          &:before {
            transform: rotate(37deg) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}

// tick-animation

.tick-animation {
  &-enter {
    &-active {
      &.todo-checkbox__checkbox {
        // firework start
        &:before {
          opacity: 1;
          box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
            0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
        }

        // fill-circle start
        &:after {
          box-shadow: 0 0 0 4px #4f29f0;
          width: 10px;
          height: 10px;
        }
      }

      & .todo-checkbox__checkbox-tick {
        // tick start
        &:before {
          transform: rotate(35deg) scale(.6);
          opacity: .5;
        }
      }
    }

    &-done {
      &.todo-checkbox__checkbox {
        // firework end
        &:before {
          opacity: 0;
          box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
            14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0,
            -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
          width: 4px;
          height: 4px;
        }

        // fill-circle end
        &:after {
          opacity: 1;
          box-shadow: 0 0 0 0 #e9e3ff;
          height: 20px;
          width: 20px;
        }
      }

      & .todo-checkbox__checkbox-tick {
        // tick end
        &:before {
          transform: rotate(37deg) scale(1);
          opacity: 1;
        }
      }
    }
  }

  &-exit {
    &-active {
      &.todo-checkbox__checkbox {
        &:before {
          transition: none;
        }

        &:after {
          transition: none;
        }
      }

      & .todo-checkbox__checkbox-tick {
        &:before {
          transition: none;
        }
      }
    }
  }
}
