.form {
  &__text {
    font-size: 14px;
  }

  &__btn {
    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }

    &-submit {

    }

    &-cancel {
      margin-right: 10px;
    }
  }

  &__privacy-policy {
    font-size: 12px;
  }
}
