.list {
  width: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 7px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #eee;
  }

  &.active {
    background-color: #eee;

    & .list__todos-quantity {
      font-weight: bold;
    }
  }
}
