.list {
  width: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 7px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &__todos-quantity {
    font-size: 12px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: #eee;
  }

  &.active {
    background-color: #eee;

    & .list__todos-quantity {
      font-weight: 500;
    }
  }
}
