@import './src/assets/styles/imports';

$test: #7EBC89;

.list {
  width: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 7px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &__todos-quantity {
    font-size: 12px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icons-wrapper {
    overflow: hidden;
    position: relative;
  }

  &__icon {
    margin-right: 3px;
    transition: all .3s ease-in-out;
    padding: 3px;

    &:hover {
      svg {
        animation: icon-animation .5s ease-in-out forwards 0s;
      }
    }


    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &:hover {
    background-color: #eee;
  }

  &.active {
    background-color: #eee;

    & .list__todos-quantity {
      font-weight: 500;
    }
  }
}

@keyframes icon-animation {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(-1px);
    fill: $test;
  }

  100% {
    transform: translateY(0);
    fill: $test;
  }
}
