#{$root} {
  background-color: #fff;
}

.app {
  --main-color: #E9E3FF;

  // notifications
  --notification-info-bg: #cce5ff;
  --notification-info-color: #004085;
  --notification-info-border: #b8daff;

  --notification-error-bg: #f8d7da;
  --notification-error-color: #721c24;
  --notification-error-border: #f5c6cb;

  --notification-success-bg: #d4edda;
  --notification-success-color: #155724;
  --notification-success-border: #c3e6cb;
}
