#{$root} {
  background-color: #fff;
}

html {
  overflow-x: hidden;
}

hr {
  margin: 5px 0;
}

.app {
  --main-color: #E9E3FF;

  // colors

  --error-bg: #f8d7da;

  // notifications
  --notification-info-bg: #cce5ff;
  --notification-info-color: #004085;
  --notification-info-border: #b8daff;

  --notification-error-bg: var(--error-bg);
  --notification-error-color: #721c24;
  --notification-error-border: #f5c6cb;

  --notification-success-bg: #d4edda;
  --notification-success-color: #155724;
  --notification-success-border: #c3e6cb;
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x !important;
  padding-left: $padding-x !important;
  margin-right: auto;
  margin-left: auto;
}

.app-container {
  @include make-container(33px);
}

.main-container {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}
