.actions {
  background-color: transparent;
  width: auto;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  &__create-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    &:hover {
      margin-bottom: 1px;
    }
  }

  &__modal {
    &-create {
      &-title {
        margin-bottom: 20px;
      }

      &-form {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
      }

      &-input {
        margin-bottom: 20px;
      }
    }
  }
}
